<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="/">Shop</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/products">Products</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/orders">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/add-product">Add Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/products">Admin Products</a>
      </li>
  </ul>
  </header>